<Directory "docker">
    Require all denied
</Directory>

<FilesMatch "(docker-compose\.yml|Dockerfile|\.env|db\.sql)$">
    Require all denied
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]